
body {
    background-color: #214050;
}

.form-horizontal {
    width: 500px;
    height: 340px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .logo {
        width: 140px;
        height: 140px;
        border: 10px solid #fff;
        box-shadow: 0px 0px 2px hotpink;
        position: absolute;
        left: 50%;
        top: -70px;
        transform: translateX(-50%);
        border-radius: 50%;
    }
    .input-group{
        padding: 15px 0;
        .btn-primary {
            background-color: hotpink;
        }
    }
}
