html {
  font-size: 26.66667vw;
}
body {
  font-size: .14rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
img {
  vertical-align: middle;
}
/* 头部区域开始 */
#header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  background-color: #006699;
  color: #fff;
}
#header .left {
  width: .45rem;
  height: .45rem;
}
#header .left a {
  display: block;
  color: #fff;
  text-align: center;
  line-height: .45rem;
}
#header .center {
  flex: 1;
  text-align: center;
  line-height: .45rem;
}
#header .center h4 {
  line-height: .45rem;
  font-weight: normal;
}
#header .center form input {
  background-color: #fff;
  height: .35rem;
  margin-bottom: 0;
  color: #000;
}
#header .right {
  width: .45rem;
  height: .45rem;
  text-align: center;
  line-height: .45rem;
}
/* 头部区域结束 */
/* 主体区域开始 */
#main {
  padding: 45px 0;
  height: 100vh;
}
#main .mui-scroll-wrapper {
  position: relative;
  height: 100%;
}
/* 主体区域结束 */
/* 底部区域开始 */
#footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: #006699;
}
#footer a {
  display: flex;
  height: .45rem;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#footer a span {
  line-height: 1;
}
#footer a.active {
  color: gold;
}
/* 底部区域结束 */
#main {
  display: flex;
  background-color: #ccc;
}
#main .category-left {
  width: .8rem;
}
#main .category-left .swiper-container {
  height: 100%;
}
#main .category-left ul .mui-table-view-cell:after {
  left: 0;
}
#main .category-left ul li.active {
  background-color: #ccc;
  color: #006699;
}
#main .category-right {
  flex: 1;
  padding: .1rem;
}
#main .category-right .swiper-container {
  height: 100%;
}
#main .category-right a {
  display: block;
  text-align: center;
  background-color: #fff;
}
#main .category-right a img {
  width: 100%;
}
